* {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5;
  color: #4d4d4d;
  outline: none;
}

// ================================ button style ================================

%btn-primary-style {
  color: #fff;
  background-color: #3333ff;
  border-color: #3333ff;
}

%btn-hover-style {
  background: transparent;
  color: #3333ff;
  text-decoration: none;
  border: 2px solid #3333ff;
}

%btn-style {
  min-width: 85px;
  padding: 7px 14px;
  font-size: 14px;
  color: white;
  background-color: #3333ff;
  border: 2px solid #3333ff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  @extend %btn-primary-style;
  &:disabled {
    @extend %btn-primary-style;
  }
  &:not(:disabled):not(.disabled):active {
    @extend %btn-hover-style;
  }
  &:hover {
    @extend %btn-hover-style;
  }
}

.btn {
  @extend %btn-style;
  outline: none;
  box-shadow: none;
  &:focus {
    box-shadow: none;
    background-color: #3333ff;
    outline: none;
  }
  &:hover {
    @extend %btn-hover-style;
  }
}

.btn-border {
  @extend %btn-hover-style;
  &:hover {
    @extend %btn-style;
  }
}

.btn-outline-success {
  border-color: white;
  border-width: 1px;
  &:hover {
    color: rgba(255, 255, 255, 0.85);
    border-color: rgba(255, 255, 255, 0.85);
    border-width: 1px;
  }
}

// ================================ form style ================================

.form-control:focus {
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
  box-shadow: none;
}

// ================================ link style ================================

a,
span {
  color: #3333ff;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #3333ff;
  }
}

.page-link:focus,
.navbar-dark {
  .navbar-toggler {
    outline: none;
    box-shadow: none;
  }
}

// ================================ badge style ================================

.badge-secondary {
  color: inherit;
  background-color: #e8e8e8;
  padding: 6px;
  font-size: 12.5px;
}

// ================================ card style ================================

.card {
  border: none;
  box-shadow: -1px 4px 10px rgba(0, 0, 0, 0.06);
  &-text {
    font-size: 17px;
    line-height: 1.3;
    .title-wrap {
      margin: 0;
    }
    a {
      font-family: inherit;
      font-size: 24px;
      line-height: 1.3;
      color: #4d4d4d;
      &:hover {
        color: #3333ff;
      }
    }
  }
}

// ================================ table style ================================

.table {
  td,
  th {
    vertical-align: middle;
  }
}

.swal2-popup.swal2-toast {
  box-shadow: none;
  border: 1px solid #dadada;
}
